<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenIddict - Authorization Server</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
</head>

<body class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Authorization Server</h1>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-center">
      @RenderBody()
    </div>
  </div>
  <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>